@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300..700;1,300..700&family=Play:wght@400;700&family=Press+Start+2P&display=swap');

body, #gameCanvas {
  font-family: 'Press Start 2P', 'Play', 'Mohave', Arial, sans-serif;
}

body {
  background: #012030;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#gameCanvas {
  background: #012030;
  display: block;
  margin: 0 auto;
  border: 1px solid #333;
}
